<div class="container header">
  <div class="row">
    <h4>Task List</h4>
  </div>
</div>
<div class="container input_box">
  <div class="row type-and-add">
    <input (keydown.enter)="addTodo()" [(ngModel)]="inputText" placeholder="add your task">
    <button class="button button-outline" (click)="addTodo()">Add</button>
  </div>
</div>
<br>

<div class="container">

  <div class="todo-container">
    <h6>List of Tasks todo</h6>
    <app-todoitem *ngFor="let t of todoList;index as i" 
                  [index]="i"
                  [text]="t"
                  (changeEvent)="changeTask($event)"></app-todoitem>
  </div>

  <div class="todo-container">
    <h6>List of Tasks completed
      <button (click)="clearDoneItems()" *ngIf="doneItems.length > 0" class="button button-clear">clear</button>
    </h6>
    <app-todoitem *ngFor="let s of doneItems" [done]="true" [text]="s"></app-todoitem>
  </div>
</div>
