.todo-item-wrapper {
  position: relative;
  padding: 5px;
  margin-top: 5px;
  animation: fadeInFromDown 0.1s ease-in;
}

@keyframes fadeInFromDown {
  from {
    opacity: 0;
    margin-top: 10px;
  }
  to {
    opacity: 1;
    margin-top: 5px;
  }
}

@-moz-keyframes fadeInFromDown {
  from {
    opacity: 0;
    margin-top: 10px;
  }
  to {
    opacity: 1;
    margin-top: 1px;
  }
}

.buttons {
  position: absolute;
  width: 50px;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.done-button {
  display: inline-flex;
  width: 23px;
  padding: 0 7px;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  background-color: lightskyblue;
}

.remove-button {
  display: inline-flex;
  width: 23px;
  padding: 0 7px;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
  background-color: lightcoral;
}

.mark-done {
  text-decoration: line-through;
}
.todo-text{
  width: calc(100% - 50px);
}

.done {
  background-color: rgba(80, 127, 255, 0.24);
}

.todo {
  background-color: rgba(255, 127, 80, 0.24);
}
